<div class="content">
  <app-headline-preview img="/97350045_edited.jpg"></app-headline-preview>
  <app-headline-preview></app-headline-preview>
  <app-headline-preview></app-headline-preview>
  <app-headline-preview img="/97350045_edited.jpg"></app-headline-preview>
  <app-headline-preview></app-headline-preview>
  <app-headline-preview></app-headline-preview>
  <app-headline-preview img="/97350045_edited.jpg"></app-headline-preview>
  <app-headline-preview></app-headline-preview>
  <app-headline-preview></app-headline-preview>
  <app-headline-preview img="/97350045_edited.jpg"></app-headline-preview>
  <app-headline-preview></app-headline-preview>
  <app-headline-preview></app-headline-preview>
  <app-headline-preview img="/97350045_edited.jpg"></app-headline-preview>
  <app-headline-preview></app-headline-preview>
  <app-headline-preview></app-headline-preview>
  <app-headline-preview img="/97350045_edited.jpg"></app-headline-preview>
  <app-headline-preview></app-headline-preview>
  <app-headline-preview></app-headline-preview>
</div>
