<div class="column">
    <div class="head">
        <span class="headline hl3">{{headline?.title}}</span>
        @if(headline?.subtitle){
            <p>
                <span class="headline hl4">{{headline?.subtitle}}</span>
            </p>
        }
    </div>    
    
    @if(headline?.imgPreview){
        <figure class="figure">
            <img class="media" src="{{headline?.imgPreview}}" alt="Headline Image">
            <figcaption class="figcaption">caption</figcaption>
        </figure>
    }

    @if(headline?.abstract){
        <p>{{headline?.abstract}}</p>
    }
</div>
