/* @import url('../../../../app.component.css'); */

.img-container {
    background-color: white;
    margin-bottom: 20px;
    padding: 10px 10px 20px 10px;
    font-style: italic;
    text-align: right;
}

.img-container span{
    padding-right: 10px;
}

.favorite-icon {
    color: gold;
    font-size: 1.2em;
}