<div *ngIf="images">
    <div *ngFor="let image of images; let index = index" key="index" class="img-container">
        <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer; width: 100%; margin-bottom: 15px;" (click)="imageClick(index)" />
        <span>{{image.camera}}</span><br>
        <span>{{image.film}}</span><br>
        <span *ngIf="image.favorite" class="favorite-icon">★</span>
    </div>
</div>
<p-galleria 
    [value]="images" 
    [(visible)]="displayCustom" 
    [(activeIndex)]="activeIndex" 
    [containerStyle]="{ 'max-width': '850px' }" 
    [responsiveOptions]="responsiveOptions" 
    [circular]="true" 
    [fullScreen]="true" 
    [showItemNavigators]="true" 
    [showThumbnails]="false">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" style="width: 100%; display: block;" loading="lazy" decoding="async" />
    </ng-template>
</p-galleria>
