.container {
    
  /* display: flex;
  justify-content: center;
  padding-top: 30px;
    position: absolute;
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 10px; */
}

.content{
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) minmax(350px, 1fr);
    gap: 10px;
}

.content > div {
    padding: 10px;
    border: 1px solid black;
}

.content > div:hover {
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

.content > div p, h1, img {
    pointer-events: none;
}

.right-content {
    grid-row: 1 / 5;
    grid-column: 5 / 6;
}

.footer {
    grid-row: 4 / 5;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 10px;

    background-color: black;
    color: white;
}

/*--------------------MODALS----------------*/
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  dialog{
    top: 50px;
    background-color: var(--background-color);
    max-width: 65%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 0px;
  }

  dialog[open]::backdrop {
    background-color: rgba(34, 22, 9, 0.5);
  }