/*-----------------------------------*/
/*              Vars                 */
/*-----------------------------------*/
:root {
    --background-color: #dbcec1;
}

body {
  background-color: var(--background-color);
  color: #000;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }